<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>

    <!-- NavBar -->
    <nav class="bg-white h-20 flex justify-between items-center">
        <div class="flex gap-5 text-5xl text-yellow-400 ml-5"><i class="fa-solid fa-map-location-dot"></i>
            <h1 class="font-bold">VS</h1>
        </div>
        <div class="hidden md:flex mr-5">
            <a href="/" class="hover:bg-yellow-200 text-black  px-4 py-2 rounded-md text-lg font-medium">Home</a>
            <a href="/favorite" class="hover:bg-yellow-200 text-black  px-4 py-2 rounded-md text-lg font-medium">Favoritos</a>
            <a href="/profile" class="hover:bg-yellow-200 text-black  px-4 py-2 rounded-md text-lg font-medium"><i class="fa-solid fa-user"></i> Perfil</a>
        </div>
        <div class="bg-transparent p-4">
            <p class="text-black font-bold text-lg">Nível: <span id="level">1</span></p>

            <div class="w-32 md:w-64 bg-gray-300 rounded-full">
                <div id="progress-bar" class="bg-yellow-400 p-2 leading-none rounded-full" style="width: 45%"></div>
            </div>
        </div>
        <div class="mr-5 flex md:hidden">
            <button id="btn-menu" type="button"
                class="inline-flex items-center justify-center p-2 rounded-md text-black text-lg hover:bg-yellow-200 focus:outline-none transition duration-150 ease-in-out">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </nav>

    <!-- NavBar Responsiva -->
    <div id="menu" class="hidden md:hidden">
        <div class="px-2 pt-2 pd-3 sm:px-3 flex flex-col">
            <a href="/" class="hover:bg-yellow-200 text-black px-4 py-2 rounded-md text-lg font-medium">Home</a>
            <a href="/favorite" class="hover:bg-yellow-200 text-black px-4 py-2 rounded-md text-lg font-medium">Favoritos</a>
            <a href="/profile" class="hover:bg-yellow-200 text-black px-4 py-2 rounded-md text-lg font-medium"><i class="fa-solid fa-user"></i> Perfil</a>
        </div>
    </div>

    <!-- Favoritos -->
    <div class="bg-gray-100 py-8">
        <div class="container mx-auto px-4">
            <h2 class="text-3xl font-semibold text-gray-800 mb-2">Perfil do usuário</h2>
            <div class="mb-4">
                <hr class="border-b-2 border-yellow-400 w-32 rounded-full">
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8" id="advisor">
            </div>
        </div>
    </div>

    <!-- Perfil do usuário -->
    <div class="flex items-center justify-center">
        <div class="profile-container border-2 border-yellow-400 w-50 rounded-xl p-10 m-10 shadow-2xl">
            <div class="profile-info">
                <h1 class="text-center text-2xl mb-3">Informações do Usuário:</h1>
                <p class ="p-2"><strong>Nome:</strong> $user.getNome()</p>
                <p class ="p-2"><strong>Email:</strong> $user.getEmail()</p>
                <p class ="p-2"><strong>Outras Informações:</strong> Outros detalhes sobre o usuário</p>
            </div>
            <a href="/register" class="flex justify-center bg-yellow-400 m-4 p-2 rounded-lg font-semibold text-black hover:text-white hover:bg-yellow-200 transition duration-300 ease-in-out">Editar</a>

            <a href="/register"
                        class="flex justify-center bg-red-500 m-4 p-2 rounded-lg font-semibold text-black hover:text-white hover:bg-red-200 transition duration-300 ease-in-out">Sair</a> 
        </div>
    </div>

    <!-- Foooter -->
    <footer class="bg-gray-100">
        <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
            <nav class="flex flex-wrap justify-center -mx-5 -my-2">
                <div class="px-5 py-2">
                    <a href="#" class="text-lg font-bold leading-6 textblack hover:text-yellow-400">
                        About
                    </a>
                </div>
                <div class="px-5 py-2">
                    <a href="#" class="text-lg font-bold leading-6 textblack hover:text-yellow-400">
                        Blog
                    </a>
                </div>
                <div class="px-5 py-2">
                    <a href="#" class="text-lg font-bold leading-6 textblack hover:text-yellow-400">
                        Team
                    </a>
                </div>
                <div class="px-5 py-2">
                    <a href="#" class="text-lg font-bold leading-6 textblack hover:text-yellow-400">
                        Contact
                    </a>
                </div>
                <div class="px-5 py-2">
                    <a href="#" class="text-lg font-bold leading-6 textblack hover:text-yellow-400">
                        Terms
                    </a>
                </div>
            </nav>
            <div class="flex justify-center mt-8 space-x-6 text-3xl">
                <a href="#" class="text-black hover:text-yellow-400">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#" class="text-black hover:text-yellow-400">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#" class="text-black hover:text-yellow-400">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="#" class="text-black hover:text-yellow-400">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
            <p class="mt-8 text-lg font-bold leading-6 text-center text-black">
                © 2023 VamosSair, Inc. All rights reserved.
            </p>
        </div>
    </footer>
    <script src="../scripts/script.js"></script>
</body>
</html>